node_modules
dist
.DS_Store
*.log
*.tsbuildinfo
.env
.env.*
!.env.example
.vite
coverage
*.local
Thumbs.db
Desktop.ini
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
